body {
    background-color: #242222;
}

header, footer, .header-link {
    background-color: #383737;
    color: #ffffff;
}

h1, h2, h3, p {
    color: #ffffff;
}

.add-btn {
    background-color: #b37dce;
}

.document-list-item,
.document-list-item:visited,
.document-list-item:hover,
.document-list-item:active
{
    background-color: #ffffff;
}

.document-list-item-container {
    background-color: #b37dce;
}

.document-list-item-title, .document-list-item-text {
    color: #383737;
}

.document-list-item-date, .document-list-item-time {
    color: #ffffff;
}

.document-editor-container {
    background-color: #ffffff;
}

.document-editor-title, .document-editor-text {
    color: #383737;
}

.document-editor-container.not-found .document-editor-text,
.document-editor-container.error .document-editor-text,
.document-editor-container.not-found .document-editor-title,
.document-editor-container.error .document-editor-title
{
    color: #d94a4a;
}

.document-editor-date {
    color: #383737;    
}

.document-editor-bar {
    background-color: #b37dce;
}

.document-save {
    /* border: 1px solid #be8fd5; */
    background-color: #d6aaec;
    color: #000000;
}

.document-save.saving {
    background-color: #ecd7b2;
}

.document-save.error {
    background-color: #eb9e9e;
}

.document-save.saved {
    background-color: #9ae8ce;
}

.document-editor-back-carrot,
.document-editor-back-carrot:visited,
.document-editor-back-carrot:hover,
.document-editor-back-carrot:active 
{
    color: #ffffff;
}

.document-editor-container.loading .document-editor-text,
.document-editor-container.loading .document-editor-title
{
    /* opacity: 0.5; */
    color: rgba(0, 0, 0, 0.5);
}

.login-form-btn,
.register-form-btn
{
    background-color: #383737;
    color: #ffffff;
}


.login-form-link > a,
.register-form-link > a
{
    color: #ffffff;
}


.login-err,
.register-form-err {
    background-color: #ff7675;
}

.logout-link {
    color: #ffffff;
}


.share-form-btn {
    background-color: #b37dce;
}
