.document-editor-bar {
    padding: .5rem 0;
    box-shadow: 1px 4px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    padding-left: 1.6rem;
    align-items: center;
    min-height: 3.1rem;
}

.document-editor-back-carrot {
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
}

.document-editor-back-link {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.document-editor-bar-changes {
    padding: 0;
    margin: 0;
    font-size: .8rem;
    font-style: italic;
}

.document-editor-bar-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.share-form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.share-form-input {
    padding: 0.5rem 0.6rem;
    min-width: 20rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    border: 1px solid #d1d5d5;
}


.share-form-btn {
    cursor: pointer;
    border: none;
    padding: 0rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    margin-right: 0.4rem;
}

