@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    max-width: 100%;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    line-height: 1.4;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

header {
    padding: .3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.index-container {
    margin: 1.4rem 3rem;
}

.new-doc {
    display: flex;
    flex-direction: column;
}

footer {
    padding: .3rem 2rem;
    flex-shrink: 0;
}

.create-doc {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.copyright {
    padding: 0;
    margin: 0;
}

.header-link {
    text-decoration: none;
}

.user {
    padding: 0rem;
    margin: 0rem;
    margin-top: .1rem;
}

.user-control {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
